<section class="page-section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xl-15 mx-auto">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Criação de Turmas</span>
          </h2>
          <br>
          <%= form_with scope: :turma, url: turmas_path, local: true do |formulario| %>
            <% if @turma.errors.any? %>
              <div id="erro_criacao_turma">
                <h2 style="color:red;">
                  <%= pluralize(@turma.errors.count, "erro") %> :
                </h2>
                <ul style="list-style-type: none;">
                  <% @turma.errors.full_messages.each do |mensagem| %>
                    <li class="alert alert-danger" role="alert"><%= mensagem %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <p align="justify">
              <%= formulario.label value='Dê um nome à turma ' %><br>
              <%= formulario.text_field :nome, class:'form-control' %>
            </p>
            <p align="justify">
              <%= formulario.label value='Qual é a cidade da turma?' %><br>
              <%= formulario.select :cidade_turma, [%w(Recife cidade_turma_Recife),%w(Garanhuns cidade_turma_Garanhuns)],{},:id=>"cidade_turma" %>
            </p>
            <%= formulario.submit value='Criar Turma', id:"criar_turma", class:'btn btn-primary btn-xl' %>
            <br><br>
            <td>
              <button class="btn btn-primary btn-xl" style="height:40px;width:110px">
                <%= link_to "Voltar", menu_administrador_path, style:"color:white"%>
              </button>
            </td>
          <%end %>
        </div>
      </div>
    </div>
  </div>
</section>