<section class="page-section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 mx-auto">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">LOGIN</span>
          </h2>
          <p class="mb-0">Apenas professores e administradores podem fazer login no sistema</p>
          <%= form_with scope: :sessao, url: login_path, local: true do |formulario| %>
            <br>
            <p align="justify">
              <%= formulario.label value='E-mail' %>
              <%= formulario.email_field :email, class:'form-control' %>
            </p>
            <p align="justify">
              <%= formulario.label value='Senha' %><br>
              <%= formulario.password_field :password, class:'form-control', autocomplete: "off" %>
            </p>
            <br>
            <p>
              <%= formulario.submit value='Login', id:"login", class:'btn btn-primary btn-xl' %>
            </p>
            <br>
            <p>
              <%= link_to 'Você é um novo administrador do curso? Clique aqui para se cadastrar.', new_administrador_path %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>