<section class="page-section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Menu de Gerenciamento</span>
          </h2>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <p align="center">
                <button class="btn btn-primary btn-xl" style="height:50px;width:250px">
                  <%= link_to 'Meu Perfil', administradores_path + '/' + usuario_atual.id.to_s, style:"color:white" %>
                </button>
                <br><br>
                <button class="btn btn-primary btn-xl" style="height:50px;width:250px">
                  <%= link_to 'Lista de Administradores', administradores_path, style:"color:white" %>
                </button>
                <br><br>
                <button class="btn btn-primary btn-xl" style="height:50px;width:250px">
                  <%= link_to 'Lista de Professores', professors_path, style:"color:white" %>
                </button>
                <br><br>
                <button class="btn btn-primary btn-xl" style="height:50px;width:250px">
                  <%= link_to 'Lista de Alunos', alunos_path, style:"color:white" %>
                </button>
                <br><br>
                <button class="btn btn-primary btn-xl" style="height:50px;width:250px">
                  <%= link_to 'Lista de Turmas', turmas_path, style:"color:white" %>
                </button>
              </p>
            </div>
            <div class="col-sm-6">
              <p align="center">
                <button class="btn btn-primary btn-xl" style="height:50px;width:250px">
                  <%= link_to 'Criar Nova Turma', new_turma_path, style:"color:white" %>
                </button>
                <br><br>
                <button class="btn btn-primary btn-xl" style="height:50px;width:250px">
                  <%= link_to 'Cadastrar Novo Administrador', new_administrador_path, style:"color:white" %>
                </button>
                <br><br>
                <button class="btn btn-primary btn-xl" style="height:50px;width:250px">
                  <%= link_to 'Adicionar/Remover Apostilas', add_apostila_path, style:"color:white" %>
                </button>
                <br><br>
                <button class="btn btn-primary btn-xl" style="height:50px;width:250px">
                  <%= link_to 'Seleção de Professores', selecao_professor_path, style:"color:white" %>
                </button>
                <br><br>
                <button class="btn btn-primary btn-xl" style="height:50px;width:250px">
                  <%= link_to 'Seleção de Alunos', selecao_aluno_path, style:"color:white" %>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>