<div  style="background-color: #ffffff; margin: 2rem;">
<h2 style="margin: 2rem; padding-top:1rem; margin-bottom: -1rem;">Todos os alunos inscritos</h2>
<br>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Nome Completo</th>
    <th>Email</th>
    <th>Idade</th>
    <th>Telefone</th>
    <th>Cor</th>
    <th>Gênero</th>
    <th>Grau de Instrução</th>
    <th>Área</th>
    <th>Atuação em Movimento Social</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <% @alunos.each do |aluno| %>
    <tr>
      <td>
        <%= aluno.nome %>
      </td>
      <td>
        <%= aluno.email %>
      </td>
      <td>
        <%= aluno.idade %>
      </td>
      <td>
        <%= aluno.telefone %>
      </td>
      <td>
        <%= aluno.cor %>
      </td>
      <td>
        <%= aluno.genero %>
      </td>
      <td>
        <%= aluno.grau_instrucao %>
      </td>
      <td>
        <%= aluno.area %>
      </td>
      <td>
        <%= aluno.atuacao_mov_social %>
      </td>
    </tr>
  <%end%>
  </tbody>
</table>
</div>