<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="../">Ciranda Popular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Inscrição de Aluno', new_aluno_path, id:"inscricao_aluno", class:'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Inscrição de Professor', new_professor_path, id:"inscricao_professor", class:'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
<h1>Inscrição de Aluno</h1>

<%= form_with scope: :aluno, url: alunos_path, local: true do |formulario| %>
  <% if @aluno.errors.any? %>
    <div id="erro_inscricao_aluno">
      <h2 style="color:red;">
        <%= pluralize(@aluno.errors.count, "erro") %> impediram a inscrição:
      </h2>
      <ul style="list-style-type: none;">
        <% @aluno.errors.full_messages.each do |mensagem| %>
          <li class="alert alert-danger" role="alert"><%= mensagem %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <p>
        <%= formulario.label value='Nome completo' %><br>
        <%= formulario.text_field :nome, class:'form-control' %>
      </p>
    </div>
    <div class="col-sm-6">
      <p>
        <%= formulario.label value='E-mail' %><br>
        <%= formulario.email_field :email, class:'form-control' %>
      </p>
    </div>
  </div>
  <div class = "row">
  <div class="col-sm-6">
  <p>
    <%= formulario.label value='Idade' %><br>
    <%= formulario.text_field :idade, class:'form-control' %>
  </p>
  </div>
  <div class="col-sm-6">
  <p>
    <%= formulario.label value='Telefone (WhatsApp)' %><br>
    <%= formulario.text_field :telefone, class:'form-control' %>
  </p>
  </div>
  </div>

  <div class="row">
  <div class="col-sm-4"><p>
    <%= formulario.label value='Rua' %><br>
    <%= formulario.text_field :rua, class:'form-control' %>
  </p></div>

   <div class="col-sm-4"><p>
    <%= formulario.label value='Bairro' %><br>
    <%= formulario.text_field :bairro, class:'form-control' %>
   </p></div>

   <div class="col-sm-4"><p>
    <%= formulario.label value='Cidade' %><br>
    <%= formulario.text_field :cidade, class:'form-control' %>
   </p></div>
  </div>
  <p>
    <%= formulario.label value='Cor ou raça' %><br>
    <%= formulario.radio_button :cor, 'Negro' %>
    <%= formulario.label :negro, 'Negro' %><br>
    <%= formulario.radio_button :cor, 'Indígena' %>
    <%= formulario.label :indigena, 'Indígena' %><br>
    <%= formulario.radio_button :cor, 'Pardo' %>
    <%= formulario.label :pardo, 'Pardo' %><br>
    <%= formulario.radio_button :cor, 'Branco' %>
    <%= formulario.label :branco, 'Branco' %><br>
  </p>

  <p>
    <%= formulario.label value='Gênero' %><br>
    <%= formulario.radio_button :genero, 'Masculino' %>
    <%= formulario.label :masculino, 'Masculino' %><br>
    <%= formulario.radio_button :genero, 'Feminino' %>
    <%= formulario.label :feminino, 'Feminino' %><br>
    <%= formulario.radio_button :genero, 'Outros' %>
    <%= formulario.label :outros, 'Outros' %><br>
  </p>
  <div class="row">
    <div class = "col-sm-6"><p>
      <%= formulario.label value='Nome do responsável' %><br>
      <%= formulario.text_field :nome_responsavel, class:'form-control' %>
    </p></div>

    <div class="col-sm-6"><p>
      <%= formulario.label value='Contato do responsável' %><br>
      <%= formulario.text_field :contato_responsavel, class:'form-control' %>
    </p></div>
  </div>

  <div class ="row">
  <div class="col-sm-6"><p>
    <%= formulario.label value='Escola (Onde estuda ou onde concluiu o Ensino Médio)' %><br>
    <%= formulario.text_field :escola, class:'form-control' %>
  </p></div>

  <div class="col-sm-6"><p>
    <%= formulario.label value='Tipo de escola' %><br>
    <%= formulario.select :tipo_escola, %w(Pública Particular) %>
  </p></div>
  </div>
  <p>
    <%= formulario.label :grau_instrucao, value='Grau de instrução' %><br>
    <%= formulario.radio_button :grau_instrucao, 'Estudante de Ensino Médio' %>
    <%= formulario.label :ensino_medio_incompleto, 'Estudante de Ensino Médio' %><br>
    <%= formulario.radio_button :grau_instrucao, 'Ensino Médio Completo' %>
    <%= formulario.label :ensino_medio_completo, 'Ensino Médio Completo' %><br>
    <%= formulario.radio_button :grau_instrucao, 'Estudante de Graduacao' %>
    <%= formulario.label :ensino_superior_incompleto, 'Estudante de Graduacao' %><br>
  </p>

  <p>
    <%= formulario.label :fez_enem, value='Já fez ENEM?' %><br>
    <%= formulario.select :fez_enem, %w(Não Sim) %>
  </p>

  <p>
    <%= formulario.label value='Área' %><br>
    <%= formulario.radio_button :area, 'Humanas' %>
    <%= formulario.label :humanas, 'Humanas' %><br>
    <%= formulario.radio_button :area, 'Exatas' %>
    <%= formulario.label :exatas, 'Exatas' %><br>
    <%= formulario.radio_button :area, 'Saúde' %>
    <%= formulario.label :saude, 'Saúde' %><br>
  </p>

  <p>
    <%= formulario.label value='Tem atuação em algum movimento social?' %><br>
    <%= formulario.select :atuacao_mov_social, %w(Não Sim) %>
  </p>

  <p>
    <%= formulario.submit value='Concluir Inscrição', class:'btn btn-success' %>
  </p>

  <p>
    <%= link_to 'Voltar', ciranda_popular_inicio_path %>
  </p>
<% end %>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>