<section class="page-section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Dados da Sua Inscrição</span>
          </h2>
          <table class="table table-striped">
            <tr align="left">
              <td>
                <strong>Nome completo:</strong>
                <%= @aluno.nome %>
              </td>
              <td>
                <strong>E-mail:</strong>
                <%= @aluno.email %>
              </td>
              <td>
                <strong>Idade:</strong>
                <%= @aluno.idade %>
              </td>
            </tr>
            <tr align="left">
              <td>
                <strong>Rua:</strong>
                <%= @aluno.rua %>
              </td>
              <td>
                <strong>Bairro:</strong>
                <%= @aluno.bairro %>
              </td>
              <td>
                <strong>Cidade:</strong>
                <%= @aluno.cidade %>
              </td>
            </tr>
            <tr align="left">
              <td>
                <strong>Telefone:</strong>
                <%= @aluno.telefone %>
              </td>
              <td>
                <strong>Cor ou raça:</strong>
                <%= @aluno.cor %>
              </td>
              <td>
                <strong>Gênero:</strong>
                <%= @aluno.genero %>
              </td>
            </tr>
            <tr align="left">
              <td>
                <strong>Nome do responsável:</strong>
                <%= @aluno.nome_responsavel %>
              </td>
              <td>
                <strong>Contato do responsável:</strong>
                <%= @aluno.contato_responsavel %>
              </td>
            </tr>
            <tr align="left">
              <td>
                <strong>Escola:</strong>
                <%= @aluno.escola %>
              </td>
              <td>
                <strong>Grau de instrução:</strong>
                <%= @aluno.grau_instrucao %>
              </td>
              <td>
                <strong>Tipo de escola:</strong>
                <%= @aluno.tipo_escola %>
              </td>
            </tr>
            <tr align="left">
              <td>
                <strong>Já fez ENEM?</strong>
                <%= @aluno.fez_enem %>
              </td>
              <td>
                <strong>Área:</strong>
                <%= @aluno.area %>
              </td>
              <td>
                <strong>Atuação em movimento social:</strong>
                <%= @aluno.atuacao_mov_social %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>