<h1>Dados da Inscrição</h1>

<p>
  <strong>Nome completo:</strong>
  <%= @aluno.nome %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @aluno.email %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @aluno.idade %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @aluno.telefone %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @aluno.rua %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @aluno.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @aluno.cidade %>
</p>

<p>
  <strong>Cor ou raça:</strong>
  <%= @aluno.cor %>
</p>

<p>
  <strong>Gênero:</strong>
  <%= @aluno.genero %>
</p>

<p>
  <strong>Nome do responsável:</strong>
  <%= @aluno.nome_responsavel %>
</p>

<p>
  <strong>Contato do responsável:</strong>
  <%= @aluno.contato_responsavel %>
</p>

<p>
  <strong>Escola (Onde estuda ou onde concluiu o Ensino Médio):</strong>
  <%= @aluno.escola %>
</p>

<p>
  <strong>Tipo de escola:</strong>
  <%= @aluno.tipo_escola %>
</p>

<p>
  <strong>Grau de instrução:</strong>
  <%= @aluno.grau_instrucao %>
</p>

<p>
  <strong>Já fez ENEM?</strong>
  <%= @aluno.fez_enem %>
</p>

<p>
  <strong>Área:</strong>
  <%= @aluno.area %>
</p>

<p>
  <strong>Tem atuação em algum movimento social?</strong>
  <%= @aluno.atuacao_mov_social %>
</p>

<p>
  <%= link_to 'Voltar', ciranda_popular_inicio_path %>
</p>