<section class="page-section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Todos os Professores Inscritos</span>
          </h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nome Completo</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Área de Atuação</th>
                <th>Grau de Instrução</th>
                <th>Cidade a se Voluntariar</th>
                <th>Disponibilidade</th>
                <th>Inscrição</th>
              </tr>
            </thead>
            <tbody>
              <% @professores.each do |professor| %>
                <tr>
                  <td>
                    <%= professor.nome %>
                  </td>
                  <td>
                    <%= professor.email %>
                  </td>
                  <td>
                    <%= professor.telefone %>
                  </td>
                  <td>
                    <%= professor.area_atuacao %>
                  </td>
                  <td>
                    <%= professor.grau_instrucao %>
                  </td>
                  <td>
                    <%= professor.cidade_voluntario %>
                  </td>
                  <td>
                    <%= professor.disponibilidade_voluntario %>
                  </td>
                  <td>
                    <%= if professor.inscricao_aprovada
                          "Aprovada"
                        else
                          "Aprovação Pendente"
                        end
                    %>
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
          <br><br>
          <td>
            <button class="btn btn-primary btn-xl" style="height:40px;width:140px">
              <%= link_to "Voltar", menu_administrador_path, style:"color:white"%>
            </button>
          </td>
        </div>
      </div>
    </div>
  </div>
</section>