<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="../">Ciranda Popular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Inscrição de Aluno', new_aluno_path, id:"inscricao_aluno", class:'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Inscrição de Professor', new_professor_path, id:"inscricao_professor", class:'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
<h1>Inscrição de Professor</h1>

<%= form_with scope: :professor, url: professors_path, local: true do |formulario| %>
    <% if @professor.errors.any? %>
      <div id="erro_inscricao_professor">
        <h2 style="color:red;">
          <%= pluralize(@professor.errors.count, "erro") %> impediram a inscrição:
        </h2>
        <ul style="list-style-type: none;">
          <% @professor.errors.full_messages.each do |mensagem| %>
            <li class="alert alert-danger" role="alert"><%= mensagem %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <p>
    <%= formulario.label value='Nome completo' %><br>
    <%= formulario.text_field :nome, class:'form-control' %>
  </p>

  <div class="row">
  <div class="col-sm-7"><p>
    <%= formulario.label value='E-mail' %><br>
    <%= formulario.email_field :email, class:'form-control' %>
  </p></div>

  <div class="col-sm-2"><p>
    <%= formulario.label value='Idade' %><br>
    <%= formulario.text_field :idade, class:'form-control' %>
  </p></div>

  <div class="col-sm-3"><p>
    <%= formulario.label value='Telefone (WhatsApp)' %><br>
    <%= formulario.text_field :telefone, class:'form-control' %>
  </p></div>
  </div>
  <div class="row">
  <div class="col-sm-8"><p>
    <%= formulario.label :bairro, value='Endereço' %><br>
    <%= formulario.text_field :bairro, class:'form-control' %>
  </p></div>

  <div class="col-sm-4"><p>
    <%= formulario.label value='Cidade' %><br>
    <%= formulario.text_field :cidade, class:'form-control' %>
  </p></div>
  </div>
  <p>
    <%= formulario.label :grau_instrucao, value='Grau de instrução' %><br>
    <%= formulario.radio_button :grau_instrucao, 'Estudante de Graduação' %>
    <%= formulario.label :estudante_graduacao, 'Estudante de Graduação' %><br>
    <%= formulario.radio_button :grau_instrucao, 'Graduação' %>
    <%= formulario.label :graduacao, 'Graduação' %><br>
    <%= formulario.radio_button :grau_instrucao, 'Pós-Graduação' %>
    <%= formulario.label :pos_graduacao, 'Pós-Graduação' %><br>
    <%= formulario.radio_button :grau_instrucao, 'Mestrado' %>
    <%= formulario.label :mestrado, 'Mestrado' %><br>
    <%= formulario.radio_button :grau_instrucao, 'Doutorado' %>
    <%= formulario.label :doutorado, 'Doutorado' %><br>
  </p>

  <p>
    <%= formulario.label value='Escolha a cidade onde você irá se voluntariar' %><br>
    <%= formulario.select :cidade_voluntario, %w(Garanhuns Recife) %>
  </p>

  <p>
    <%= formulario.label :voluntario, value='Você tem disponibilidade em realizar esse trabalho de forma voluntária, no período noturno arcando com os custos de deslocamento e alimentação?' %><br>
    <%= formulario.select :disponibilidade_voluntario, %w(Não Sim) %>
  </p>

  <p>
    <%= formulario.label value='Qual é a sua área de atuação?' %><br>
    <%= formulario.radio_button :area_atuacao, 'Português' %>
    <%= formulario.label :portugues, 'Português' %><br>
    <%= formulario.radio_button :area_atuacao, 'Matemática' %>
    <%= formulario.label :matematica, 'Matemática' %><br>
    <%= formulario.radio_button :area_atuacao, 'Literatura' %>
    <%= formulario.label :literatura, 'Literatura' %><br>
    <%= formulario.radio_button :area_atuacao, 'Redação' %>
    <%= formulario.label :redacao, 'Redação' %><br>
    <%= formulario.radio_button :area_atuacao, 'História' %>
    <%= formulario.label :historia, 'História' %><br>
    <%= formulario.radio_button :area_atuacao, 'Geografia' %>
    <%= formulario.label :geografia, 'Geografia' %><br>
    <%= formulario.radio_button :area_atuacao, 'Inglês' %>
    <%= formulario.label :ingles, 'Inglês' %><br>
    <%= formulario.radio_button :area_atuacao, 'Espanhol' %>
    <%= formulario.label :espanhol, 'Espanhol' %><br>
    <%= formulario.radio_button :area_atuacao, 'Física' %>
    <%= formulario.label :fisica, 'Física' %><br>
    <%= formulario.radio_button :area_atuacao, 'Biologia' %>
    <%= formulario.label :biologia, 'Biologia' %><br>
    <%= formulario.radio_button :area_atuacao, 'Quimica' %>
    <%= formulario.label :quimica, 'Quimica' %><br>
    <%= formulario.radio_button :area_atuacao, 'Filosofia' %>
    <%= formulario.label :filosofia, 'Filosofia' %><br>
    <%= formulario.radio_button :area_atuacao, 'Sociologia' %>
    <%= formulario.label :sociologia, 'Sociologia' %><br>
  </p>

  <p>
    <%= formulario.submit value='Concluir Inscrição', class:'btn btn-success' %>
  </p>

  <p>
    <%= link_to 'Voltar', ciranda_popular_inicio_path %>
  </p>
<% end %>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>