<section class="page-section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Inscrição de Professor</span>
          </h2>
          <%= form_with scope: :professor, url: professors_path, local: true do |formulario| %>
            <% if @professor.errors.any? %>
              <div id="erro_inscricao">
                <h2 style="color:red;">
                  <%= pluralize(@professor.errors.count, "erro") %>:
                </h2>
                <ul style="list-style-type: none;">
                  <% @professor.errors.full_messages.each do |mensagem| %>
                    <li class="alert alert-danger" role="alert"><%= mensagem %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="row">
              <div class="col-sm-8">
                <p align="justify">
                  <%= formulario.label value='Nome Completo' %><br>
                  <%= formulario.text_field :nome, class:'form-control' %>
                </p>
              </div>
              <div class="col-sm-4">
                <p align="justify">
                  <%= formulario.label value='Idade' %><br>
                  <%= formulario.text_field :idade, class:'form-control' %>
                </p>
              </div>
            </div>
            <div class = "row">
              <div class="col-sm-8">
                <p align="justify">
                  <%= formulario.label value='E-mail' %><br>
                  <%= formulario.email_field :email, class:'form-control' %>
                </p>
              </div>
              <div class="col-sm-4">
                <p align="justify">
                  <%= formulario.label value='Telefone (WhatsApp)' %><br>
                  <%= formulario.text_field :telefone, class:'form-control' %>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <p align="justify">
                  <%= formulario.label :endereco, value='Endereço' %><br>
                  <%= formulario.text_field :endereco, class:'form-control' %>
                </p>
              </div>
              <div class="col-sm-4">
                <p align="justify">
                  <%= formulario.label value='Cidade' %><br>
                  <%= formulario.text_field :cidade, class:'form-control' %>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <p align="justify">
                  <%= formulario.label value='Qual é a sua área de atuação?' %><br>
                  <%= formulario.radio_button :area_atuacao, 'Portugues', id:"atuacao_Portugues" %>
                  <%= formulario.label :portugues, 'Português' %><br>
                  <%= formulario.radio_button :area_atuacao, 'Matematica', id:"atuacao_Matematica" %>
                  <%= formulario.label :matematica, 'Matemática' %><br>
                  <%= formulario.radio_button :area_atuacao, 'Literatura', id:"atuacao_Literatura" %>
                  <%= formulario.label :literatura, 'Literatura' %><br>
                  <%= formulario.radio_button :area_atuacao, 'Redacao', id:"atuacao_Redacao" %>
                  <%= formulario.label :redacao, 'Redação' %><br>
                  <%= formulario.radio_button :area_atuacao, 'Historia', id:"atuacao_Historia" %>
                  <%= formulario.label :historia, 'História' %><br>
                  <%= formulario.radio_button :area_atuacao, 'Geografia', id:"atuacao_Geografia" %>
                  <%= formulario.label :geografia, 'Geografia' %><br>
                  <%= formulario.radio_button :area_atuacao, 'Ingles', id:"atuacao_Ingles" %>
                  <%= formulario.label :ingles, 'Inglês' %><br>
                  <%= formulario.radio_button :area_atuacao, 'Espanhol', id:"atuacao_Espanhol" %>
                  <%= formulario.label :espanhol, 'Espanhol' %><br>
                  <%= formulario.radio_button :area_atuacao, 'Fisica', id:"atuacao_Fisica" %>
                  <%= formulario.label :fisica, 'Física' %><br>
                  <%= formulario.radio_button :area_atuacao, 'Biologia', id:"atuacao_Biologia" %>
                  <%= formulario.label :biologia, 'Biologia' %><br>
                  <%= formulario.radio_button :area_atuacao, 'Quimica', id:"atuacao_Quimica" %>
                  <%= formulario.label :quimica, 'Química' %><br>
                  <%= formulario.radio_button :area_atuacao, 'Filosofia', id:"atuacao_Filosofia" %>
                  <%= formulario.label :filosofia, 'Filosofia' %><br>
                  <%= formulario.radio_button :area_atuacao, 'Sociologia', id:"atuacao_Sociologia" %>
                  <%= formulario.label :sociologia, 'Sociologia' %><br>
                </p>
              </div>
              <div class="col-sm-7">
                <p align="justify">
                  <%= formulario.label :grau_instrucao, value='Qual é o seu grau de instrução?' %><br>
                  <%= formulario.radio_button :grau_instrucao, 'Estudante de Graduacao', id:"grau_Estudante" %>
                  <%= formulario.label :estudante_graduacao, 'Estudante de Graduação'%><br>
                  <%= formulario.radio_button :grau_instrucao, 'Graduacao', id:"grau_Graduacao" %>
                  <%= formulario.label :graduacao, 'Graduação' %><br>
                  <%= formulario.radio_button :grau_instrucao, 'Pos Graduacao', id:"grau_Pos" %>
                  <%= formulario.label :pos_graduacao, 'Pós-Graduação' %><br>
                  <%= formulario.radio_button :grau_instrucao, 'Mestrado', id:"grau_Mestrado" %>
                  <%= formulario.label :mestrado, 'Mestrado' %><br>
                  <%= formulario.radio_button :grau_instrucao, 'Doutorado', id:"grau_Doutorado" %>
                  <%= formulario.label :doutorado, 'Doutorado' %><br>
                </p>
                <br>
                <p align="justify">
                  <%= formulario.label value='Para qual cidade você deseja se voluntariar?' %><br>
                  <%= formulario.select :cidade_voluntario, [%w(Recife cidade_voluntario_Recife),%w(Garanhuns cidade_voluntario_Garanhuns)],{},:id=>"cidade_voluntario" %>
                </p>
                <br>
                <p align="justify">
                  <%= formulario.label :voluntario, value='Você tem disponibilidade em realizar esse trabalho de forma voluntária, no período noturno arcando com os custos de deslocamento e alimentação?' %><br>
                  <%= formulario.select :disponibilidade_voluntario, [%w(Sim disponibilidade_voluntario_Sim),%w(Não disponibilidade_voluntario_Não)],{},:id=>"disponibilidade_voluntario" %>
                </p>
              </div>
            </div>
            <br>
            <%= formulario.submit value='Concluir Inscrição', id:"concluir_inscricao", class:'btn btn-primary btn-xl' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>