<section class="page-section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Dados da Sua Inscrição</span>
          </h2>
          <table class="table table-striped">
            <tr align="left">
              <td>
                <strong>Nome completo:</strong>
                <%= @professor.nome %>
              </td>
              <td>
                <strong>E-mail:</strong>
                <%= @professor.email %>
              </td>
              <td>
                <strong>Idade:</strong>
                <%= @professor.idade %>
              </td>
            </tr>
            <tr align="left">
              <td>
                <strong>Telefone</strong>
                <%= @professor.telefone %>
              </td>
              <td>
                <strong>Endereço</strong>
                <%= @professor.endereco %>
              </td>
              <td>
                <strong>Cidade</strong>
                <%= @professor.cidade %>
              </td>
            </tr>
            <tr align="left">
              <td>
                <strong>Grau de Instrução</strong>
                <%= @professor.grau_instrucao %>
              </td>
              <td>
                <strong>Área de Atuação</strong>
                <%= @professor.area_atuacao %>
              </td>
              <td>
                <strong>Cidade para a qual se Voluntariou</strong>
                <%= @professor.cidade_voluntario %>
              </td>
            </tr>
            <tr align="left">
              <td>
                <strong>Disponibilidade para ser Voluntário</strong>
                <%= @professor.disponibilidade_voluntario %>
              </td>
              <td>
                <strong>Status da Inscrição</strong>
                <%= if @professor.inscricao_aprovada
                      "Aprovada"
                    else
                      "Aprovação Pendente"
                    end
                %>
              </td>
              <% if @professor.id == usuario_atual.id %>
                <td>
                  <%= link_to 'Editar Informações', edit_professor_path(@professor) %>
                </td>
              <% end %>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>