<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container">
  <table class="table table-striped">
    <h1>Dados da Inscrição</h1>
    <tr>
      <td>
        <strong>Nome completo:</strong>
        <%= @professor.nome %>
      </td>

      <td>
        <strong>E-mail:</strong>
        <%= @professor.email %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Idade:</strong>
        <%= @professor.idade %>
      </td>

      <td>
        <strong>Telefone:</strong>
        <%= @professor.telefone %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Endereço:</strong>
        <%= @professor.endereco %>
      </td>

      <td>
        <strong>Cidade:</strong>
        <%= @professor.cidade %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Grau de Instrução:</strong>
        <%= @professor.grau_instrucao %>
      </td>
      <td>
        <strong>Cidade Voluntariar:</strong>
        <%= @professor.cidade_voluntario %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Área de Atuação:</strong>
        <%= @professor.area_atuacao %>
      </td>
      <td>
        <strong>Voluntário:</strong>
        <%= @professor.disponibilidade_voluntario %>
      </td>
    </tr>
    <p>
      <%= link_to 'Voltar', ciranda_popular_inicio_path %>
    </p>
  </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>