<section class="page-section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Seus Dados</span>
          </h2>
          <table class="table table-striped">
            <tr align="left">
              <td>
                <strong>Nome completo:</strong>
                <%= @administrador.nome %>
              </td>
              <td>
                <strong>E-mail:</strong>
                <%= @administrador.email %>
              </td>
              <td>
                <strong>Telefone:</strong>
                <%= @administrador.telefone %>
              </td>
              <td>
                <strong>Cidade onde Administra o Curso:</strong>
                <%= @administrador.cidade_voluntario %>
              </td>
              <% if @administrador.id == usuario_atual.id %>
                <td>
                  <button class="btn btn-primary btn-xl" style="height:60px;width:120px">
                    <%= link_to 'Editar Informações', edit_administrador_path(@administrador), style:"color:white" %>
                  </button>
                </td>
              <% end %>
            </tr>
          </table>
          <br><br>
          <td>
            <button class="btn btn-primary btn-xl" style="height:40px;width:140px">
              <%= link_to "Voltar", menu_administrador_path, style:"color:white"%>
            </button>
          </td>
        </div>
      </div>
    </div>
  </div>
</section>