<div class="container">
  <h1>Criar Usuário</h1>
  <br>
  <%= form_with scope: :usuario, url: usuarios_path, local: true do |formulario| %>
    <% if @usuario.errors.any? %>
      <div id="erro_novo_usuario">
        <h2 style="color:red;">
          <%= pluralize(@usuario.errors.count, "erro") %> impediram a criação do usuario:
        </h2>
        <ul style="list-style-type: none;">
          <% @usuario.errors.full_messages.each do |mensagem| %>
            <li class="alert alert-danger" role="alert"><%= mensagem %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <p>
    <%= formulario.label value='Nome completo' %><br>
    <%= formulario.text_field :nome, class:'form-control' %>
  </p>
  <p>
    <%= formulario.label value='E-mail' %><br>
    <%= formulario.text_field :email, class:'form-control' %>
  </p>
  <p>
    <%= formulario.label value='Senha' %><br>
    <%= formulario.password_field :password, class:'form-control' %>
  </p>
  <p>
    <%= formulario.label value='Confirme a Senha' %><br>
    <%= formulario.password_field :password_confirmation, class:'form-control' %>
  </p>

  <p>
    <%= formulario.submit value='Criar Usuario', id:"criar_usuario", class:'btn btn-success' %>
  </p>

  <p>
    <%= link_to 'Voltar', ciranda_popular_inicio_path %>
  </p>
<% end %>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>