<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<header>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="../">Ciranda Popular</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Inscrição de Aluno', new_aluno_path, id:"inscricao_aluno", class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Inscrição de Professor', new_professor_path, id:"inscricao_professor", class:'nav-link' %>
          </li>
        </ul>
        <% if logado? %>
          <li>
            <ul  class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to "Gerenciamento", menu_administrador_path, id:"administradores", class:'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "Perfil", usuario_atual, id:"perfil", class:'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "Logout", logout_path, id:"logout", class:'nav-link' %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to "Login", login_path, id:"login", class:'nav-link' %>
          </li>
        <% end %>
      </div>
    </nav>
  </div>
</header>